@font-face {
	font-family: "San Francisco";
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html, body {
	margin: 0px;
	/*background: url("Bubbles-New.png") no-repeat center center fixed;
	background-size: cover;*/
	background-color: rgba(0, 0, 0, 0);
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
		width: 800px;
    height: 290px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
}

.container-2 {
		width: 500px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 340px;
    /*padding-top: 40px;*/
    bottom:0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
}

.d-flex {
	align-items: center;
	flex-direction: column;
	justify-content: safe center;
}
h1 {
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;

}
h2 {
	font-family: "SF Pro Display", sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 10px;
}
.nav-link {
	padding-top: 10px;
	font-family: "SF Pro Display";
	font-weight: 300;
	font-size: 20px;
	color: #FFFFFF;
}
.navbar-nav {
	padding-left: 10px;
	padding-top: 10px;
}

p {
	font-family: "SF Pro Display", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
}

.icon {
	color: #FFFFFF;
	font-size: 2rem;
	padding-right: 20px;
}

.icon:hover {
	color: #D7D7D7;
}

.icon.fa.fa-behance {
	padding-right: 15px;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
