/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-text {
        display: flex;
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5vh;
    }
    .col-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3vh;
    }
    .link {
        font-size: 15px;
    }
    img {
    width: 90vw;
    height: auto;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-text {
        display: flex;
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5vh;
    }
    .col-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3vh;
    }
    .title {
        flex-direction: row;
    }
    img {
        width: 90vw;
        height: auto;
        }
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .col-text {
        display: flex;
        width:100%;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-bottom: 5vh;
    }
    .col-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3vh;
    }
    img {
        height: 70vh;
        width: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .row {
        flex-direction: row;
    }
    img {
        height: 70vh;
        width: auto;
    }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .row {
        flex-direction: row;
    }
    img {
        height: 70vh;
        width: auto;
    }
 }