/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1.titletext {
        padding-top: 30px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 110px;
    }
    h2.titletext {
        padding-top: 30px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 90px;
    }
    .nav-item {
        font-size: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1.titletext {
        padding-top: 30px;
        font-size: 150px;
    }
    h2.titletext {
        padding-top: 30px;
        font-size: 120px;
    }
    .nav-item {
        font-size: 40px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1.titletext {
        padding-top: 30px;
        font-size: 150px;
    }
    h2.titletext {
        padding-top: 30px;
        font-size: 120px;
    }
    .nav-item {
        font-size: 50px;
    }
    .col-md {
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1.titletext {
        padding-top: 30px;
        font-size: 200px;
    }
    h2.titletext {
        padding-top: 30px;
        font-size: 150px;
    }
    .nav-item {
        font-size: 50px;
    }
    .col-md {
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 100px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1.titletext {
        padding-top: 30px;
        font-size: 250px;
    }
    h2.titletext {
        padding-top: 30px;
        font-size: 200px;
    }
    .nav-item {
        font-size: 50px;
    }
    .col-md {
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 100px;
    }
}
