body {
    --bs-highlight-bg: rgba(0, 0, 0 , 0 )
}

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src :url('../fonts/SFUIDisplay-Regular.otf')}
@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src :url('../fonts/SFUIDisplay-Medium.otf')}
@font-face {
    font-family: "SF Display";
    font-weight: 300;
    src :url('../fonts/SFUIDisplay-Light.ttf')}
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src :url('../fonts/SFUIText-Regular.otf')}
@font-face {
    font-family: "SF Text";
    font-weight: 500;
    src :url('../fonts/SFUIText-Medium.otf')}
    @font-face {
    font-family: "SF Text";
    font-weight: 300;
    src :url('../fonts/SFUIText-Light.otf')}



.title {
  display: flex;
  height: 80vh;
}

.link {
    cursor: default;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}


.link--ersa {
    padding: 0 10px;
    font-family: 'SF Display', sans-serif;
    letter-spacing: 1px;
    text-indent: 1px;
    /* text-transform: uppercase; */
}

.link--ersa::before {
    top: 50%;
    height: 2px;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link--ersa:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--ersa:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--ersa span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link--ersa:hover span {
    transform: scale3d(1.1, 1.1, 1.1);
}


h1, h2, h4, p {
    font-family: 'SF Display', sans-serif;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-family: 'SF Display', sans-serif;
}


  .mark, mark {
    background: #f9fafb;
    
  }
  
  mark {
    -webkit-animation: 1s highlight 1s 1 normal forwards;
            animation: 1s highlight 1s 1 normal forwards;
    background: linear-gradient(90deg, #ffa664 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  p {
      font-family: 'SF Text';
  }





  .container {
    padding-top: 5vh;
}

.col {
    display: flex;
    
}

h1 {
    width: 100%;
}

h4 {
    width: 100%;
    padding-top : 5px;
}